Unidecode==1.1.1
eyeD3==0.8.10
ipython==7.7.0
musicbrainzngs==0.6
numpy==1.17.0
python-dateutil==2.8.0
requests==2.22.0
pydub==0.23.1
pytest==5.1.1
six==1.12.0
git+https://github.com/hsercanatli/symbtrsynthesis.git@master#egg=symbtrsynthesis
